/* Body */
body {
  font-family: 'Ubuntu', sans-serif;
}

/* Background */

.bg-body-tertiary {
  --bs-bg-opacity: 0;
  background-color: #270000 !important;
}

/* header */

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 100%;
}

nav .container-fluid {
  background-color: black;
}

nav a.nav-link {
  background-color: #ffffff09;
  text-align: center;
}

.navbar {
  --bs-bg-opacity: 0;
  background-color: #000000 ;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  color: #5e0000;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.navbar-brand:hover {
  color: #ff08007a;
  transform: scale(1.1)
}

.nav-link {
  color: #ff6f69;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ff08007a;
}

.greetings {
  animation: fadeIn 5s ease-in forwards;
  animation-delay: 0s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* main */
main {
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 auto;
}

main div.index {
  margin:8rem auto;
}

main div#root {
  margin:8rem auto;
}

main div#videos p {
  margin:5rem auto;
}

main a {
  color: #ff6f69;
  text-decoration: none;
  transition: color 0.3s ease;
}

main a:hover {
  color: #ffffff;
}

main h1 {
  font-size: 5rem;
  margin-bottom: 3rem;
  color: #ff080060;
}

main h1:hover {
  color: #ff0800;
}

main p {
  color: #ff6f69;
}

main p.lead {
  font-size: 2rem;
}

#content {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.video-links {
  margin: 1rem;
}

.link {
  text-decoration: none;
  color: #ff000028;
}

.link:hover {
  color: #ff08007a;
}


/* footer */
footer {
  padding: 1em;
  padding-top: 1rem;
  text-align: center;
  clear: both;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer li {
  display: inline-block;
  margin-right: 1rem;
}

footer p {
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: #ff6f69;
}

.footer-links a {
  color: #ff6f69;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #ff08007a;
}