/* Body */
body {
  font-family: 'Ubuntu', sans-serif;
}

/* Background */

.bg-body-tertiary {
  --bs-bg-opacity: 0;
  background-color: #270000 !important;
}

/* header */

.btn-secondary {
  --bs-btn-bg: #000000;
  --bs-btn-hover-bg: #ff00003d;
  --bs-btn-active-bg: #4e0000;
  --bs-btn-border-color: #000000;
  --bs-btn-active-border-color: #4e0000;
  --bs-btn-hover-border-color: #000000;
}
.dropdown-menu {
  --bs-dropdown-bg: #000;
  --bs-dropdown-link-color: #ff6f69;
  --bs-dropdown-link-hover-color: #ff6f69;
  --bs-dropdown-link-hover-bg:#4e0000;
}

nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 100%;
}

nav .container-fluid {
  background-color: black;
}

nav a.nav-link {
  background-color: #ffffff09;
  text-align: center;
}

.navbar {
  --bs-bg-opacity: 0;
  background-color: #000000 ;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  color: #5e0000;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.navbar-brand:hover {
  color: #ff08007a;
  transform: scale(1.1)
}

.nav-link {
  color: #ff6f69;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ff08007a;
}

.greetings {
  animation: fadeIn 5s ease-in forwards;
  animation-delay: 0s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* main */
main {

  text-align: center;
  font-weight: 400;
  line-height: 1.5;
  margin: 1 auto;
}


main a {
  color: #ff6f69;
  text-decoration: none;
  transition: color 0.3s ease;
}

main a:hover {
  color: #ffffff;
}

main h1 {
  font-size: 5rem;
  margin-bottom: 3rem;
  color: #ff080060;
}

main h1:hover {
  color: #ff0800;
}

main p {
  color: #ff6f69;
}

main p.lead {
  font-size: 2rem;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.video-links {
  margin: 1rem;
}

.link {
  text-decoration: none;
  color: #ff000028;
}

.link:hover {
  color: #ff08007a;
}

section div#youtube {
  background-color: #420808;
  background-size:contain;
}

/* footer */

footer#footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
  color: #ff6f69;
  background-color: #000000;
}

