<div class="col-auto bg-black">
    <div class="collapse collapse-horizontal show" id="rightCollapse">
      <div class="footer-container">
        <footer>
          <div class="text">
            <p>Powered by NEXTせだい</p>
            <p>
              &copy; 2023 - 2024 IamSHIUBA. <br />
              <span data-translate="footer">All rights reserved.</span>
            </p>
          </div>
        </footer>
      </div>
    </div>
    <hr>
    <button
      class="btn btn-black w-100"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#rightCollapse"
      aria-expanded="false"
      aria-controls="rightCollapse"
    >
      <strong>></strong>
    </button>
  </div>