<br>
<br>
<div class="col bg-black">
  <div id="carousel-container">
    <div id="carouselExample" class="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" id="index">
          <h1 data-translate="greeting">Hello, world!</h1>
          <p class="lead" data-translate="mainMessage">
            The website is still under construction, but you can check out
            some of my videos, my about page or my GitHub.
          </p>
          <h2 data-translate="highlight">Highlights</h2>
          <div class="video-links">
            <iframe
              src="https://www.youtube.com/embed/bx3IrAhfCWU"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>
        </div>

        <div class="carousel-item" id="youtube">
          <h1 data-translate="videosTitle">Videos</h1>
          <p class="lead" data-translate="videosDescription">
            This is the videos section, here are some videos to watch:
          </p>
          <div class="row align-items-center">
            <!-- Your iframe videos here -->
            <div class="col">
              <iframe
                src="https://www.youtube.com/embed/Ct5kE8KGnQM?si=dca-S4qIp2txXlSA"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
              ></iframe>
              <div class="video-links">
                <a
                  rel="noopener"
                  class="link"
                  href="https://www.youtube.com/watch?v=Ct5kE8KGnQM"
                  target="_blank"
                >
                  <strong>OVER-THINKING</strong>
                </a>
              </div>
            </div>
            <div class="col">
              <iframe
                src="https://www.youtube.com/embed/2jfeauEQx7w?si=TN1Mgz_QZqZ2zqUL"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
              ></iframe>
              <div class="video-links">
                <a
                  rel="noopener"
                  class="link"
                  href="https://www.youtube.com/watch?v=2jfeauEQx7w"
                  target="_blank"
                >
                  <strong>Childhood Nostalgia</strong>
                </a>
              </div>
            </div>
            <div class="col">
              <iframe
                src="https://www.youtube.com/embed/kFSdn2X1Ttw?si=egoun5133EYJvdxj"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
              ></iframe>
              <div class="video-links">
                <a
                  rel="noopener"
                  class="link"
                  href="https://www.youtube.com/watch?v=kFSdn2X1Ttw"
                  target="_blank"
                >
                  <strong>This Perfect World</strong>
                </a>
              </div>
            </div>
            <div class="col">
              <iframe
                src="https://www.youtube.com/embed/uf6PZ9WisZQ?si=gpTP6c4wX4YGyu2Xj"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
              ></iframe>
              <div class="video-links">
                <a
                  rel="noopener"
                  class="link"
                  href="https://www.youtube.com/watch?v=uf6PZ9WisZQ"
                  target="_blank"
                >
                  <strong>Tragic Ending</strong>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item" id="about">
          <h1 data-translate="aboutTitle">About</h1>
          <p class="lead" data-translate="aboutMessage">
            I made this website for fun. Hope you enjoy coz I'm about to
            make it better and better!<br />
            Thank you for visiting!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>