<div class="col-auto bg-black">
  <div class="collapse collapse show" id="upCollapse">
    <div class="pagination-container">
      <ul class="pagination">
        <li id="Homepage" class="page-item active">
          <a
            class="page-link"
            href="#index"
            data-bs-target="#carouselExample"
            data-bs-slide-to="0"
            data-translate="Homepage"
            >Homepage</a
          >
        </li>
        <li id="Videos" class="page-item">
          <a
            class="page-link"
            href="#youtube"
            data-bs-target="#carouselExample"
            data-bs-slide-to="1"
            data-translate="Videos"
            >Videos</a
          >
        </li>
        <li id="About" class="page-item">
          <a
            class="page-link"
            href="#about"
            data-bs-target="#carouselExample"
            data-bs-slide-to="2"
            data-translate="About"
            >About</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>