<div class="col-auto bg-black">
  <div class="collapse collapse-horizontal show" id="leftCollapse">
    <div class="nav-container">
      <header id="nav">
        <div class="container">
          <nav class="navbar bg-black">
            <div class="container" style="flex-direction: column">
              <button
                class="navbar-brand"
                style="background-color: rgb(0, 0, 0)"
                data-translate="ishiuba"
              >
                iSHIUBA
              </button>
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#menu"
                aria-controls="menu"
                aria-expanded="false"
                aria-label="Show menu"
              >
                <label for="button" style="color: CYAN;">Links</label>
              </button>
              <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                    <a
                      rel="noopener"
                      href="https://github.com/iamshiuba"
                      class="nav-link"
                      target="_blank"
                      >GitHub</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      rel="noopener"
                      href="https://x.com/iamshiuba"
                      class="nav-link"
                      target="_blank"
                      >X/Twitter</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      rel="noopener"
                      href="https://www.youtube.com/@iamshiuba"
                      class="nav-link"
                      target="_blank"
                      >YouTube</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      rel="noopener"
                      href="https://soundcloud.com/iamshiuba"
                      class="nav-link"
                      target="_blank"
                      >SoundCloud</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </header>
    </div>
    <hr>
    <div class="pagination-container">
      <ul class="pagination">
        <li id="Homepage" class="page-item active">
          <a
            class="page-link"
            href="#index"
            data-bs-target="#carouselExample"
            data-bs-slide-to="0"
            data-translate="Homepage"
            >Homepage</a
          >
        </li>
        <li id="Videos" class="page-item">
          <a
            class="page-link"
            href="#youtube"
            data-bs-target="#carouselExample"
            data-bs-slide-to="1"
            data-translate="Videos"
            >YouTube</a
          >
        </li>
        <li id="About" class="page-item">
          <a
            class="page-link"
            href="#about"
            data-bs-target="#carouselExample"
            data-bs-slide-to="2"
            data-translate="About"
            >About</a
          >
        </li>
      </ul>
    </div>
  </div>
  <hr>
  <button
    class="btn btn-black w-100"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#leftCollapse"
    aria-expanded="false"
    aria-controls="leftCollapse"
  >
    <strong><</strong>
  </button>
</div>
