<div class="col bg-black">
  <div id="carousel-container">
    <div id="carouselExample" class="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" id="index">
          <h1 data-translate="greeting">Hello, world!</h1>
          <p class="lead" data-translate="mainMessage">
            The website is still under construction, but you can check out
            some of my videos, my about page, or my GitHub.
          </p>
          <h5 data-translate="highlight">Highlights</h5>
          <div class="video-links">
            <iframe
              src="https://www.youtube.com/embed/pXNprgo7M9A?si=WcKIwS0FIS9nR74a"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>
        </div>

        <div class="carousel-item" id="youtube">
          <h1 class="lead" data-translate="videosDescription">
            This is the videos section, here are some videos to watch:
          </h1>
          <h2>2024 Singles</h2>
          <div class="row align-items-center" id="videoContainer"></div>
        </div>
        <div class="carousel-item" id="about">
          <h1 data-translate="aboutTitle">About</h1>
          <p class="lead" data-translate="aboutMessage">
            I made this website for fun. Hope you enjoy coz I'm about to
            make it better and better!<br />
            Thank you for visiting!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
