/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    line-height: 1.6;
    font-family: "Arial", sans-serif;
    background-color: #000000;
    color: #e8e8e8;
}

#lang {
    display: flex;
    justify-content: center;
}

img {
    max-width: 100%;
    height: auto;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    margin: 0 1;
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    margin-top: 1.5rem;
    background-color: #000000;
    color: #c4c4c4;
}

/* Carousel */
.carousel {
    margin-top: 1rem;
}

.carousel .carousel-inner {
    background-color: black;
    text-align: center;
}

.carousel h1 {
    color: #ff0800;
    font-size: 3rem;
    animation: fadeIn 2s ease-in-out;
}

.carousel p.lead {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.carousel iframe {
    border: 2px solid #ffd1cf;
    border-radius: 5px;
}

.carousel .video-links {
    margin-bottom: 2rem;
}

.carousel .video-links a {
    color: #ff261d;
    transition: color 0.3s ease;
}

.carousel .video-links a:hover {
    color: #cecece;
}

.pagination {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagination .page-link {
    background-color: #000000;
    color: #ff6f69;
    border: none;
    margin-top: 1rem;
    transition: color 0.2s ease;
}

.pagination .page-link:hover {
    color: #ff0800;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Navbar */
.navbar {
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

.navbar .navbar-brand {
    color: #ff6f69;
    font-size: 1.8rem;
    font-weight: bold;
    transition: transform 0.3s ease, color 0.3s ease;
}

.navbar .navbar-brand:hover {
    transform: scale(1.1);
}

.navbar .nav-link {
    transition: color 0.3s ease;
}

.navbar .nav-link:hover {
    color: #ff0800;
    font-weight: bold;
    transform: scale(1.05);
}


.navbar .dropdown-menu .dropdown-item {
    color: #ff6f69;
    transition: background-color 0.3s ease;
}

.navbar-toggler {
    margin-top: 1rem;
}

/* Responsividade para o Navbar */
@media (max-width: 768px) {
    .navbar-collapse {
        background-color: #000000;
    }

    .nav-link {
        font-size: 1.1rem;
    }
}



/* Nav Links */
.nav-link {
    color: #cacaca;
    text-decoration: none;
    text-align: center;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #ff0800;
    font-weight: bold;
    transform: scale(1.1);
}

/* Button Styling */
button {
    background-color: #ff6f69;
    color: #ff0800 !important;
    border: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffffff;
}

/* Video Section */
.video-links {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

.video-links a {
    color: #ff261d;
    transition: color 0.3s ease;
}

.video-links a:hover {
    color: #cccccc;
}

/* Responsividade para col-2 e col-8 */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}