/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    background-color: #000000;
    color: #ffffff;
}

img {
    max-width: 100%;
    width: 250px;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/* General Styling */
#lang {
    display: flex;
    justify-content: center;
}

#bwd, #fwd {
    margin: 0;
    color: #ff0800;
    padding: 2rem;

}

#bwd:hover, #fwd:hover {
    color: #ffffff;
}

/* Container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.link-container {
    display: flex;
    flex-direction: column;
}

/* Navbar */
.navbar {
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

.navbar .navbar-brand {
    color: #ff6f69;
    font-size: 1.8rem;
    font-weight: bold;
    transition: transform 0.3s ease, color 0.3s ease;
}

.navbar .navbar-brand:hover {
    transform: scale(1.1);
}

.navbar .nav-link {
    transition: color 0.3s ease;
}

.navbar .nav-link:hover {
    color: #ff0800;
    font-weight: bold;
    transform: scale(1.05);
}

/* Navbar Responsiveness */
@media (max-width: 768px) {
    .navbar-collapse {
        background-color: #000000;
    }

    .nav-link {
        font-size: 1.1rem;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }
}

/* Nav Links */
.nav-link {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #ff0800;
    font-weight: bold;
    transform: scale(1.1);
}

/* Carousel */
.carousel {
    display: flex;
}

.carousel .carousel-inner {
    background-color: black;
    text-align: center;
}

.carousel h1 {
    color: #ff0800;
    font-size: 3rem;
    animation: fadeIn 2s ease-in-out;
}

.carousel p.lead {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.carousel iframe {
    border: 2px solid #ffd1cf;
    border-radius: 5px;
}

/* Video Section */
.video-links {
    margin: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

.video-links a {
    color: #ff261d;
    transition: color 0.3s ease;
}

.video-links a:hover {
    color: #ffffff;
}

/* Pagination */
.pagination {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pagination .page-link {
    background-color: #000000;
    color: #ff6f69;
    border: none;
    margin-top: 1rem;
    transition: color 0.2s ease;
}

.pagination .page-link:hover {
    color: #ff0800;
}

/* Buttons */
button {
    margin: 1rem;
    background-color: #ff6f69;
    transition: background-color 0.3s ease;
}

button:active {
    background-color: #ffffff;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Footer */
